1:Create a list of 5 favorite fruits and print each using a loop

In [2]:
fruits = ['apple' , 'mango' , 'oring' , 'banana' , 'watermelon']
for fruits in fruits :
  print(fruits)

apple
mango
oring
bnana
watermelon

2:Create a tuple with 3 items: name, age, and city. Access and print each

In [11]:
my_tuple = ("Muaaz" , 19 , "gujranwala")
print("name:", my_tuple[0])
print("age:", my_tuple[1])
print("city:", my_tuple[2])

name: Sultan
age: 22
city: Gujranwala

3:Make a dictionary with student name, class, and score. Print keys and values

In [14]:
my_dict = {
    "name" : "Maaz",
    "age" : 19,
    "city" : "gujranwala"
}
print(my_dict)

{'name': 'Maaz', 'age': 19, 'city': 'gujranwala'}

4:Update the list by adding and removing items. Print the updated list

In [23]:
my_list = ['apple' , 'mango' , 'orange' , 'banana' , 'watermelon']
my_list.remove('apple')
my_list.append('apple')
print(my_list)

['mango', 'orange', 'bnana', 'watermelon', 'apple']

5:Use a loop to count items in the list and print using len()

In [28]:
Items = ['apple' , 'mango' , 'orange' , 'banana' , 'watermelon']
count = 0
for Item in Items :
  count += 1
print("count using loop:", count)
print("count using len():", len(Items))

count using loop: 5
count using len(): 5

6:Check if a value exists in a tuple using in keyword

In [39]:
fruits = ['apple' , 'mango' , 'orange' , 'watermelon']
if'apple' in fruits:
  print("Yes! apple in the tuple")
else:
  print("No!Not apple in the tuple")

Yes! apple in the tuple

7:Add a new key-value pair to your dictionary and print the result

In [40]:
my_dict = {
    "name" : "Maaz",
    "age" : 19,
    "city" : "gujranwala"
}
my_dict["Rool no"] = "1"
print(my_dict)

{'name': 'Maaz', 'age': 19, 'city': 'gujranwala', 'Rool no': '1'}

8:Write a program that converts a list to a tuple and prints both

In [41]:
fruits = ['apple' , 'mango' , 'oring' , 'banana' , 'watermelon']
fruits_tuple = tuple(fruits)
print(list(fruits))
print(fruits_tuple)

['apple', 'mango', 'oring', 'banana', 'watermelon']
('apple', 'mango', 'oring', 'banana', 'watermelon')

9:Create a dictionary of 3 students with marks. Print names who scored > 80

In [48]:
students = {
    "Ali" : 50,
    "subhan" : 65,
    "umair" : 90
}
print("students with marks > 80:")
for name, marks in students.items():
   if marks > 80:
      print(name)

students with marks > 80:
umair